---
import Moon from "../assets/icons/moon.svg";
import Sun from "../assets/icons/sun.svg";
---

<button
  id="theme-toggler"
  type="button"
  class="hover:text-primary-200 focus-visible:text-primary-200 cursor-pointer rounded-lg p-2.5 duration-200 ease-in dark:text-white"
  aria-label="toggle theme"
>
  <Moon id="moon-icon" class="size-10" size={10} />
  <Sun id="sun-icon" class="hidden size-10" size={10} />
</button>
